@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
/* ----- Reset ------ */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
}
body {
  background-color: #222;
  color: white;
}
button {
  cursor: pointer;
  font-family: inherit;
  font-weight: inherit;
  text-align: center;
  border: none;
}
/* ------ App ----- */
.app {
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.app__title {
  margin-top: 100px;
  width: 300px;
  text-align: center;
  font-size: 2.5rem;
  text-shadow: -2px -2px 0 brown,
                 2px  2px  0 brown,
                -2px 2px 0 brown,
                2px -2px 0 brown;
}
.app__btn {
  background-color: orange;
  padding: 10px 20px;
  border: 2px solid;
  color: brown;
  border-radius: 10px;
  transition: transform .5s;
}
.app__btn:hover {
  transform: scale(1.1);
  transition: transform .5s;
}
.app__container {
  text-align: center;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.app__text {
  width: 90%;
  background-color: #5555;
  color: black;
  border-radius: 10px;
  padding: 20px;
}
.app__author {
  background-color: #fff9;
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 30px;
  color: #222;
}